In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('regression/Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [18]:
df.shape

(545, 14)

In [11]:
def make_prompt(d):
    prompt=f" This House has an area of {d['area']} sqft. It has {d['bedrooms']} bedrooms and {d['bathrooms']} bathrooms {'along with a guest room.' if d['guestroom']=='yes' else '.'}"
    prompt+=f" It is a {d['stories']} storey house {'on the mainroad.' if d['mainroad']=='yes' else '.'}"
    prompt+=" It also comes with a basement." if d['basement']=='yes' else ""
    prompt+=f" The house is {d['furnishingstatus']} and comes with facilities like {'hot water heating' if d['hotwaterheating']=='yes' else ''}, {'air conditioning' if d['airconditioning']=='yes' else ''} along with {d['parking']} parking slots."
    prompt+=" It is located in a preferred area." if d['prefarea']=='yes' else ""
    prompt+=" What is the price of this house?"
    return prompt

In [12]:
df['prompt']=df.apply(make_prompt,axis=1)

0       This House has an area of 7420 sqft. It has 4...
1       This House has an area of 8960 sqft. It has 4...
2       This House has an area of 9960 sqft. It has 3...
3       This House has an area of 7500 sqft. It has 4...
4       This House has an area of 7420 sqft. It has 4...
                             ...
540     This House has an area of 3000 sqft. It has 2...
541     This House has an area of 2400 sqft. It has 3...
542     This House has an area of 3620 sqft. It has 2...
543     This House has an area of 2910 sqft. It has 3...
544     This House has an area of 3850 sqft. It has 3...
Name: prompt, Length: 545, dtype: object

In [16]:
new_df=df[['prompt','price']]
new_df.head()

                                              prompt     price
0   This House has an area of 7420 sqft. It has 4...  13300000
1   This House has an area of 8960 sqft. It has 4...  12250000
2   This House has an area of 9960 sqft. It has 3...  12250000
3   This House has an area of 7500 sqft. It has 4...  12215000
4   This House has an area of 7420 sqft. It has 4...  11410000

In [17]:
new_df.to_csv('regression.csv', index=False)

In [19]:
df=pd.read_csv('classification/df_file.csv')

In [24]:
df.shape

(2225, 2)

In [21]:
import torch

In [22]:
torch.cuda.is_available()

False

In [23]:
print(torch.version.cuda)

None